* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%;
  height: auto; }
  body main {
    width: 100%;
    height: auto; }

img {
  display: block;
  max-width: 100%; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

.clear {
  clear: both; }

h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 25px; }
  h1 span {
    font-family: "Playfair Display", serif;
    font-weight: 400; }

h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin: 50px 0 90px 0; }
  @media screen and (max-width: 900px) {
    h2 {
      font-size: 40px; } }
  @media screen and (max-width: 600px) {
    h2 {
      font-size: 25px;
      margin: 40px 0 60px 0; } }

h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700; }

.about p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 300;
  margin: 90px 0 40px 0; }
.about a {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0 40px 0 0; }

h4 {
  color: #5C5C5C;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0 40px 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out; }

.skills p {
  color: #7B7B7B;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  transition: all 0.5s ease-out; }

h5 {
  color: black;
  font-size: 40px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0 0 70px 0; }
  @media screen and (max-width: 900px) {
    h5 {
      padding: 0 0 0 50px;
      box-sizing: border-box; } }

h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-size: 20px;
  text-align: center;
  margin: 0;
  transition: all 0.5s ease-out; }

.team p {
  font-family: "Playfair Display", serif;
  color: #9A9A9A;
  font-size: 16px;
  text-align: center; }

.solutions p {
  color: #222222;
  font-size: 40px;
  font-family: "Poppins", sans-serif; }
  .solutions p span {
    color: #FD3E4F; }
.solutions p.solutions-text {
  color: #717171;
  font-size: 16px;
  margin: 80px 0 70px 0; }

button {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 20px 50px;
  box-sizing: border-box;
  background: linear-gradient(to top, #FD3FB3, #FD3F81, #FD3E4F);
  border: none; }
  @media screen and (max-width: 900px) {
    button.btn {
      display: block;
      margin: auto; } }
  button a {
    color: white; }

.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    border-radius: 50px;
    padding: 20px 40px;
    box-sizing: border-box; }

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 135px 0 30px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0; }
  header nav ul li {
    display: inline-block; }
    header nav ul li a {
      font-family: "Poppins", sans-serif;
      color: white;
      font-size: 16px;
      font-weight: 700;
      margin: 0 8px; }
  @media screen and (max-width: 600px) {
    header nav ul {
      text-align: center; } }
  header nav:last-child ul li:nth-child(2) {
    margin: 0 16px; }
  @media screen and (max-width: 900px) {
    header nav:nth-child(2) {
      margin: 30px 0 0 0; } }
  @media screen and (max-width: 1200px) {
    header {
      padding: 20px 30px 0 30px; } }
  @media screen and (max-width: 900px) {
    header {
      flex-direction: column; } }

.head {
  width: 100%;
  height: 75vh;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .head article {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 600px) {
      .head article {
        justify-content: flex-end; } }
  @media screen and (max-width: 900px) {
    .head {
      height: 100vh; } }
  @media screen and (max-width: 600px) {
    .head {
      height: 100vh;
      padding: 0 0 50px 0;
      box-sizing: border-box; } }

.about {
  width: 100%;
  height: auto;
  background: linear-gradient(to top, #FD3FB3, #FD3F81, #FD3E4F); }
  .about article {
    width: 100%;
    height: auto;
    max-width: 1300px;
    margin: auto;
    padding: 80px 50px;
    box-sizing: border-box; }

.skills {
  width: 100%;
  height: auto; }
  .skills > div {
    width: 100%;
    height: auto;
    max-width: 1300px;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .skills > div article {
      width: calc(100% / 3);
      height: auto;
      padding: 110px 25px 70px 25px;
      box-sizing: border-box;
      position: relative;
      transition: all 0.5s ease-out;
      overflow: hidden;
      z-index: 1; }
      .skills > div article::after {
        position: absolute;
        top: 80px;
        left: 25px;
        font-size: 120px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        background: linear-gradient(to top, #FD3FB3, #FD3F81, #FD3E4F);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        -o-text-fill-color: transparent;
        opacity: 0.15;
        z-index: 1;
        transition: all 0.5s ease-out; }
      .skills > div article.s1::after {
        content: '01'; }
      .skills > div article.s2::after {
        content: '02'; }
      .skills > div article.s3::after {
        content: '03'; }
      .skills > div article::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to top, #FD3E4F, #FD3F81, #FD3FB3);
        transform: translateY(100%);
        z-index: -1; }
      .skills > div article .bumper {
        width: 100%;
        height: 50px;
        background: blue; }
      .skills > div article:hover {
        padding: 110px 25px 50px 25px; }
        .skills > div article:hover h4 {
          color: white;
          padding: 30px 0 0 0;
          margin: 0 0 30px 0; }
        .skills > div article:hover p {
          color: white; }
        .skills > div article:hover::after {
          background-image: linear-gradient(to bottom, white, white);
          font-size: 60px;
          top: 50px;
          left: 20px;
          opacity: 1; }
        .skills > div article:hover::before {
          transform: translateY(0); }
      @media screen and (max-width: 900px) {
        .skills > div article {
          width: 100%;
          padding: 110px 50px 75px 50px; }
          .skills > div article h4 {
            padding: 30px 0 0 0;
            margin: 0 0 30px 0; }
          .skills > div article::after {
            font-size: 60px;
            top: 50px;
            left: 50px;
            opacity: 1; } }
      @media screen and (max-width: 900px) {
        .skills > div article.s2 h4 {
          color: white; }
        .skills > div article.s2 p {
          color: white; }
        .skills > div article.s2::after {
          background-image: linear-gradient(to bottom, white, white); }
        .skills > div article.s2::before {
          transform: translateY(0); } }
    @media screen and (max-width: 900px) {
      .skills > div {
        flex-direction: column;
        padding: 0; } }

.team {
  width: 100%;
  height: auto;
  max-width: 1300px;
  margin: 100px auto 200px auto;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .team article {
    width: calc((100% / 3) - 50px);
    height: auto;
    position: relative; }
    .team article:nth-child(3) {
      margin: 0 50px; }
    .team article::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to top, #FD3FB3, #FD3F81, #FD3E4F);
      opacity: 0;
      z-index: 0; }
    .team article .identity {
      position: absolute;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      transition: all 0.5s ease-out; }
      @media screen and (max-width: 900px) {
        .team article .identity {
          bottom: 0; } }
    .team article .socials {
      width: 100%;
      position: absolute;
      bottom: 30%;
      left: 0;
      opacity: 0;
      transition: all 0.5s ease-out; }
      .team article .socials ul {
        text-align: center; }
        .team article .socials ul li {
          display: inline-block;
          margin: 0 10px; }
      @media screen and (max-width: 900px) {
        .team article .socials {
          bottom: 5%; } }
    .team article:hover::before {
      opacity: 0.85; }
    .team article:hover .identity {
      bottom: 45%; }
      .team article:hover .identity h6 {
        margin: 0 0 15px 0;
        color: white; }
      .team article:hover .identity p {
        color: white; }
    .team article:hover .socials {
      opacity: 1;
      bottom: 35%; }
      @media screen and (max-width: 900px) {
        .team article:hover .socials {
          bottom: 10%; } }
    @media screen and (max-width: 900px) {
      .team article {
        width: 100%; }
        .team article:nth-child(3) {
          margin: 50px auto; }
        .team article img {
          margin: 50px auto; } }
  @media screen and (max-width: 900px) {
    .team {
      padding: 0; } }

.solutions {
  width: 100%;
  margin: 0 0 200px 0;
  height: auto;
  position: relative; }
  .solutions > article {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0; }
    .solutions > article img {
      width: 100%; }
      @media screen and (max-width: 900px) {
        .solutions > article img {
          width: 85%; } }
    @media screen and (max-width: 900px) {
      .solutions > article {
        width: 100%;
        top: calc(100% + 100px); } }
  .solutions .maxwidth {
    width: 100%;
    height: auto;
    max-width: 1300px;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .solutions .maxwidth article:first-child {
      width: 50%;
      padding: 0 0 0 70px;
      box-sizing: border-box; }
      @media screen and (max-width: 900px) {
        .solutions .maxwidth article:first-child {
          width: 100%;
          padding: 0; } }
