.skills{
    width:100%;
    height:auto;

    &>div{
        width:100%;
        height:auto;
        max-width:1300px;
        margin:auto;
        padding:80px 50px;
        box-sizing:border-box;

        article{
            width:calc(100% / 3);
            float:left;
        }
    }
}