h1{
    font-family:$s-serif;
    color:white;
    font-weight:$reg;
    font-size:$tagline;

    span{
        font-family:$serif;
        font-weight:$reg-serif;
    }
}

h2{
    font-family:$s-serif;
    color:white;
    text-align:center;
    font-size:$h-title;
    font-weight:$bold;
    margin:50px 0 90px 0;
}


h3{
    color:white;
    font-family:$s-serif;
    font-size:$about-title;
    font-weight:$bold;
}

.about{
    p{
        color:white;
        font-family:$s-serif;
        font-size:$about-text;
        font-weight:$reg;
        margin:90px 0 40px 0;
    }

    a{
        color:white;
        font-family:$s-serif;
        font-size:$about-button;
        font-weight:$reg;
        margin:0 40px 0 0;
    }
}

h4{
    color:$grey-skills-title;
    font-size:$skills-title;
    font-family:$s-serif;
    font-weight:$bold;
    margin:0 0 40px 0;
    padding:0;
    box-sizing:border-box;
    transition:all 0.5s ease-out;
}

.skills{
    p{
        color:$grey-skills-text;
        font-size:$skills-text;
        font-family:$serif;
        font-weight:$reg-serif;
        transition:all 0.5s ease-out;
    }
}


h5{
    color:black;
    font-size:$about-title;
    width:100%;
    font-family:$s-serif;
    margin:0 0 70px 0;
}

h6{
    font-family:$s-serif;
    color:$black;
    font-size:$skills-title;
    text-align:center;
    margin:0;
    transition:all 0.5s ease-out;
}

.team{
    p{
        font-family:$serif;
        color:$grey-job;
        font-size:$text;
        text-align:center;
    }
}